@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --md-sys-color-primary: rgb(44 76 15);
    --md-sys-color-surface-tint: rgb(69 104 40);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(78 113 48);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(38 22 17);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(72 53 47);
    --md-sys-color-on-secondary-container: rgb(226 196 189);
    --md-sys-color-tertiary: rgb(74 102 53);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(176 208 148);
    --md-sys-color-on-tertiary-container: rgb(35 60 16);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(249 250 241);
    --md-sys-color-on-background: rgb(26 28 23);
    --md-sys-color-surface: rgb(252 249 247);
    --md-sys-color-on-surface: rgb(28 28 27);
    --md-sys-color-surface-variant: rgb(238 224 219);
    --md-sys-color-on-surface-variant: rgb(78 69 66);
    --md-sys-color-outline: rgb(128 117 113);
    --md-sys-color-outline-variant: rgb(209 196 191);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(49 48 47);
    --md-sys-color-inverse-on-surface: rgb(243 240 238);
    --md-sys-color-inverse-primary: rgb(170 211 134);
    --md-sys-color-primary-fixed: rgb(198 239 160);
    --md-sys-color-on-primary-fixed: rgb(12 32 0);
    --md-sys-color-primary-fixed-dim: rgb(170 211 134);
    --md-sys-color-on-primary-fixed-variant: rgb(46 79 18);
    --md-sys-color-secondary-fixed: rgb(251 220 212);
    --md-sys-color-on-secondary-fixed: rgb(40 24 19);
    --md-sys-color-secondary-fixed-dim: rgb(221 192 184);
    --md-sys-color-on-secondary-fixed-variant: rgb(87 66 60);
    --md-sys-color-tertiary-fixed: rgb(204 237 175);
    --md-sys-color-on-tertiary-fixed: rgb(11 32 0);
    --md-sys-color-tertiary-fixed-dim: rgb(176 208 149);
    --md-sys-color-on-tertiary-fixed-variant: rgb(51 78 32);
    --md-sys-color-surface-dim: rgb(220 217 216);
    --md-sys-color-surface-bright: rgb(252 249 247);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(246 243 241);
    --md-sys-color-surface-container: rgb(240 237 235);
    --md-sys-color-surface-container-high: rgb(235 231 230);
    --md-sys-color-surface-container-highest: rgb(229 226 224);
}

[data-theme="dark"] {
    --md-sys-color-primary: rgb(170 211 134);
    --md-sys-color-surface-tint: rgb(170 211 134);
    --md-sys-color-on-primary: rgb(26 55 0);
    --md-sys-color-primary-container: rgb(54 87 25);
    --md-sys-color-on-primary-container: rgb(208 250 169);
    --md-sys-color-secondary: rgb(221 192 184);
    --md-sys-color-on-secondary: rgb(63 44 39);
    --md-sys-color-secondary-container: rgb(48 31 26);
    --md-sys-color-on-secondary-container: rgb(196 168 161);
    --md-sys-color-tertiary: rgb(202 235 173);
    --md-sys-color-on-tertiary: rgb(30 55 11);
    --md-sys-color-tertiary-container: rgb(161 193 134);
    --md-sys-color-on-tertiary-container: rgb(24 49 6);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(18 20 15);
    --md-sys-color-on-background: rgb(226 227 218);
    --md-sys-color-surface: rgb(19 19 19);
    --md-sys-color-on-surface: rgb(229 226 224);
    --md-sys-color-surface-variant: rgb(78 69 66);
    --md-sys-color-on-surface-variant: rgb(209 196 191);
    --md-sys-color-outline: rgb(154 142 138);
    --md-sys-color-outline-variant: rgb(78 69 66);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(229 226 224);
    --md-sys-color-inverse-on-surface: rgb(49 48 47);
    --md-sys-color-inverse-primary: rgb(69 104 40);
    --md-sys-color-primary-fixed: rgb(198 239 160);
    --md-sys-color-on-primary-fixed: rgb(12 32 0);
    --md-sys-color-primary-fixed-dim: rgb(170 211 134);
    --md-sys-color-on-primary-fixed-variant: rgb(46 79 18);
    --md-sys-color-secondary-fixed: rgb(251 220 212);
    --md-sys-color-on-secondary-fixed: rgb(40 24 19);
    --md-sys-color-secondary-fixed-dim: rgb(221 192 184);
    --md-sys-color-on-secondary-fixed-variant: rgb(87 66 60);
    --md-sys-color-tertiary-fixed: rgb(204 237 175);
    --md-sys-color-on-tertiary-fixed: rgb(11 32 0);
    --md-sys-color-tertiary-fixed-dim: rgb(176 208 149);
    --md-sys-color-on-tertiary-fixed-variant: rgb(51 78 32);
    --md-sys-color-surface-dim: rgb(19 19 19);
    --md-sys-color-surface-bright: rgb(58 57 56);
    --md-sys-color-surface-container-lowest: rgb(14 14 14);
    --md-sys-color-surface-container-low: rgb(28 28 27);
    --md-sys-color-surface-container: rgb(32 32 31);
    --md-sys-color-surface-container-high: rgb(42 42 41);
    --md-sys-color-surface-container-highest: rgb(53 53 52);
}